<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pet Necrology</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  </head>

  <body class="Site">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <div class="above-fold-section">
        <header>
          <div class="col-xs-12">
            <div class="header-logo">
              <h1>
                Pet Necrology
              </h1>
              <h2>
                Heartfelt biographies of departed animals
              </h2>
              <a data-scroll href="#app-info" class="arrow bounce">
              </a>
            </div>
          </div>

          <div class="col-xs-12 text-center">
            <div id="header-links">
              <a data-scroll href="#email-signup">
                coming to
                <img src="/images/ios_and_android.png" />
              </a>
            </div>
          </div>
        </header>
      </div>
      <main class="Site-content" role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-push-6 footer-links">
              <div class="row">
                <div class="col-xs-4">
                  <p>About</p>
                  <ul>
                    <li><a href="#">Our Mission</a></li>
                    <li><a href="#">Blog</a></li>
                  </ul>
                </div>
                <div class="col-xs-4">
                  <p>Social</p>
                  <ul>
                    <li><a href="https://www.facebook.com/pages/petnecrology" target="blank">Facebook</a></li>
                    <li><a href="https://twitter.com/petnecrology" target="blank">Twitter</a></li>
                    <li><a href="https://instagram.com/petnecrology" target="blank">Instagram</a></li>
                    <li><a href="https://www.google.com/+PetNecrology" target="blank">Google+</a></li>
                  </ul>
                </div>
                <div class="col-xs-4">
                  <p>Support</p>
                  <ul>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-md-pull-6 contact-info">
              <h4>Contact</h4>
              <p>
                Pet Necrology Inc.<br>
                92 Lenora St<br>
                Seattle, WA 98121<br>
              </p>
              <p class="contact_us_emails">
                Licensed veterinarians: <a href="mailto:vets@petnecrology.com?Subject=Vet" target="_top">vets@petnecrology.com</a></br>
                For all other inquiries: <a href="mailto:info@petnecrology.com?Subject=Hello" target="_top">info@petnecrology.com</a>
              </p>
            </div>
          </div>
        </div>
      </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>
      smoothScroll.init();
    </script>
  </body>
</html>
